.input-cont {
  margin-left: 30px;
}

.input-cont-left {
  width: 360px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 10px;
  font-size: 18px;
}

.input-cont-right {
  width: 360px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 10px;
  font-size: 18px;
}
