.cont-send {
  margin: 0;
  height: 35px;
  display: inline-flex;
}

.color {
  color: #245378;
  font-size: 16px;
}

.mess-shipped {
  color: #447444;
  font-size: 17px;
}

.mess-queue {
  color: rgba(0, 0, 0, 0.6);
}

.mess-error {
  color: #ff6666;
}
