.cont-mess {
  margin: 0;
  height: 35px;
  width: 64%;
  border-bottom: 2px solid #ecdbd3;
  display: inline-flex;
}
.cont-date {
  width: 120px;
  height: 25px;
  color: rgba(2, 46, 42, 0.877);
}
.cont-theme {
  width: 560px;
  height: 25px;
  color: rgba(2, 46, 42, 0.877);
}
.cont-status {
  width: 120px;
  height: 25px;
  color: rgba(2, 46, 42, 0.877);
}
